
<style></style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <section>
        <h1 style="text-align:right">{{ title }}</h1>
        <p style="text-align:right">Stack Your Books, Manage Your Chaos!</p>
      </section>
      <br />
      <app-nav-bar></app-nav-bar>
      <br />
      <router-outlet />
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">

      <div class="social-links">
      </div>
    </div>
  </div>
</main>
